.env
venv/
alembic.ini
app/__pycache__/
app/core/__pycache__/
app/modules/identity/__pycache__/
app/modules/recsys/__pycache__/
alembic/versions/__pycache__/
__pycache__/
alemvic/__pycache__
MASTER.md
qoneqt_web/yarn.lock
qoneqt_web/package-lock.json
qoneqt_web/node_modules/